* {
  font-family: 'Barlow', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* conteudo nao passa da caixa*/
  color: #002126;
}

p {
  color: #00707f;
}

body {
  background-color: #e7eaeb;
}